body {
  font-family: "Russo One";
  width: 834px;
  margin: auto; }
  body * {
    margin: 0;
    padding: 0; }
  body header {
    background-color: #000;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #fff;
    height: 75px;
    padding: 25px 14px;
    position: relative; }
    body header .logo {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      width: 350px; }
      body header .logo h1 {
        font-size: 24px;
        font-weight: normal; }
      body header .logo h1:hover {
        font-size: 26px;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
        position: fixed; }
    body header nav {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1; }
      body header nav .cursecontact {
        margin-left: 30px; }
        body header nav .cursecontact .nav {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex; }
          body header nav .cursecontact .nav .curse {
            -ms-flex-preferred-size: 60%;
            flex-basis: 60%; }
          body header nav .cursecontact .nav a {
            display: inline-block;
            color: #fff;
            text-decoration: none;
            font-size: 14px;
            font-weight: normal; }
          body header nav .cursecontact .nav .aleft {
            margin-right: 13px; }
          body header nav .cursecontact .nav a:hover {
            font-size: 16px;
            -webkit-transition: 0.5s;
            -o-transition: 0.5s;
            transition: 0.5s;
            position: absolute; }
          body header nav .cursecontact .nav #contact {
            color: #fff;
            text-decoration: none;
            font-size: 14px;
            font-weight: normal; }
          body header nav .cursecontact .nav #contact:hover {
            font-size: 16px;
            -webkit-transition: 0.5s;
            -o-transition: 0.5s;
            transition: 0.5s;
            position: absolute; }
        body header nav .cursecontact .contacttelegramm {
          background-color: #000;
          position: absolute;
          top: 24px;
          right: 185px;
          font-size: 14px;
          display: none; }
        body header nav .cursecontact div.line {
          background-color: #fff;
          width: 171px;
          height: 3px; }
        body header nav .cursecontact p {
          margin: 4px;
          font-size: 10px; }
    body header div.headinst {
      -webkit-box-flex: 2;
      -ms-flex: 2;
      flex: 2; }
      body header div.headinst div.instagram {
        width: 16px;
        height: 16px;
        margin: 10px 9px 0 377px; }
        body header div.headinst div.instagram img {
          width: 100%;
          background-color: #fff; }
  body article {
    padding: 90px	107px; }
    body article main.firstmain {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      body article main.firstmain section {
        -ms-flex-preferred-size: 45%;
        flex-basis: 45%; }
      body article main.firstmain .man {
        background-color: #F2F2F2;
        width: 296px;
        height: 260px;
        font-size: 14px;
        padding: 17px 8px 32px 7px; }
        body article main.firstmain .man img {
          width: 100%; }
      body article main.firstmain .textman {
        width: 246px; }
      body article main.firstmain .blackstr {
        position: relative;
        -ms-flex-preferred-size: 6%;
        flex-basis: 6%; }
        body article main.firstmain .blackstr .stlong {
          margin-left: 14px;
          background-color: #000;
          width: 3px;
          height: 440px;
          z-index: 10; }
        body article main.firstmain .blackstr .down {
          border: solid black;
          border-width: 0 3px 3px 0;
          border-radius: 2px;
          left: 4px;
          bottom: 3px;
          display: inline-block;
          padding: 10px;
          position: absolute;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg); }
    body article main.secondmain {
      margin-top: 33px; }
      body article main.secondmain .sectired {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; }
        body article main.secondmain .sectired .tired {
          background-color: #F2F2F2;
          width: 403px;
          height: 286px;
          padding: 12px 11px 19px 9px; }
          body article main.secondmain .sectired .tired img {
            width: 100%; }
      body article main.secondmain .loremol .asideol {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-top: 11px; }
        body article main.secondmain .loremol .asideol .arrows {
          position: relative;
          margin: 0 40px 0 20px; }
          body article main.secondmain .loremol .asideol .arrows .arrlong {
            background-color: #000;
            width: 3px;
            height: 155px;
            z-index: 10; }
          body article main.secondmain .loremol .asideol .arrows .arrdown {
            border: solid black;
            border-width: 0 3px 3px 0;
            border-radius: 2px;
            left: -10px;
            bottom: 2px;
            display: inline-block;
            padding: 10px;
            position: absolute;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg); }
        body article main.secondmain .loremol .asideol .pol p {
          margin-left: -15px; }
      body article main.secondmain .yellodiv {
        background-color: #F4FF72;
        width: 383px;
        height: 169px;
        margin-top: 33px;
        margin-left: 118px; }
        body article main.secondmain .yellodiv .h4 {
          font-size: 14px;
          padding: 0 8px; }
        body article main.secondmain .yellodiv .smallarr {
          position: relative;
          margin-left: 10px; }
          body article main.secondmain .yellodiv .smallarr .arrlongsm {
            background-color: #000;
            width: 3px;
            height: 30px;
            z-index: 10; }
          body article main.secondmain .yellodiv .smallarr .arrdownsm {
            border: solid black;
            border-width: 0 3px 3px 0;
            border-radius: 2px;
            left: -7px;
            bottom: 2px;
            display: inline-block;
            padding: 7px;
            position: absolute;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg); }
        body article main.secondmain .yellodiv .p {
          font-size: 13px;
          padding: 8px; }
    body article .three .blackar {
      position: relative;
      margin: 10px 0 0 307px; }
      body article .three .blackar .arlong {
        background-color: #000;
        width: 3px;
        height: 110px;
        z-index: 10; }
      body article .three .blackar .ardown {
        border: solid black;
        border-width: 0 3px 3px 0;
        border-radius: 2px;
        left: -7px;
        bottom: 2px;
        display: inline-block;
        padding: 7px;
        position: absolute;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg); }
    body article .three .gray {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 326px;
      height: 107px;
      background-color: #EBF2BF;
      padding: 9px;
      margin-left: 147px;
      margin-top: 17px;
      font-size: 14px; }
      body article .three .gray .footflex {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        body article .three .gray .footflex .smallar {
          position: relative;
          margin-top: 24px;
          -webkit-box-flex: 1;
          -ms-flex: 1;
          flex: 1; }
          body article .three .gray .footflex .smallar .arrsm {
            background-color: #000;
            width: 33px;
            height: 3px;
            z-index: 10; }
          body article .three .gray .footflex .smallar .ardownsm {
            border: solid black;
            border-width: 0 3px 3px 0;
            border-radius: 2px;
            left: 15px;
            bottom: 24px;
            display: inline-block;
            padding: 7px;
            position: absolute;
            -webkit-transform: rotate(320deg);
            -ms-transform: rotate(320deg);
            transform: rotate(320deg); }
        body article .three .gray .footflex .buecurse {
          margin: 20px;
          -webkit-box-flex: 2;
          -ms-flex: 2;
          flex: 2; }
          body article .three .gray .footflex .buecurse a {
            text-decoration: none;
            color: #000;
            width: 88px;
            height: 14px;
            background-color: #F4FF72;
            text-align: center;
            font-size: 14px; }
